{% extends 'main.html' %}
{% block navbar_content%}
<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div>
            <!--<ul class="nav navbar-nav navbar-left">-->
                <!--<li>-->
                    <!--<a href="#">All</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">With issues</a>-->
                <!--</li>-->
                <!--<li class="separator hidden-lg hidden-md"></li>-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/new_case?suite={{suite.id}}" class="text-info"><b>Create</b></a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block body_content %}

<div class="card">
    <div class="header">
        <p class="category"><a href="/">Projects</a> / <a href="/suites?project={{project.id}}">{{project.name}}</a></p>
        <h3 class="title">Cases overview for {{suite.name}}</h3>
        <p class="header-description-text">{{suite.description}}</p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead>
            <th>Case name</th>
            <th>Unresolved issues</th>
            <th>Test runs</th>
            <th>Case creator</th>
            <th>Actions</th>
            <tbody>
            {% for case in cases %}
            <tr>
                <td><a href="view_case?id={{case.id}}" class="suite-name">{{case.name}}</a>
                    <p class="list-sub-text">Updated: {{case.update_date}}</p></td>
                <td>No active issues</td>
                <td>No test runs</td>
                <td>
                    <!--<img src="https://ui-avatars.com/api/?rounded=true&bold=true&background=0D8ABC&color=fff&name={{ case.creator }}"/>-->
                    <p>{{ case.creator.first_name }} {{ case.creator.last_name }}</p>
                </td>

                <td>
                    <a href="/edit_case?id={{case.id}}"><i class="fas fa-edit"></i></a>
                    <!--<a class="text-danger" href="#" onclick="delete_case('/cases?id={{case.id}}')"><i class="fa fa-times"></i></i></a>-->
                    <a class="text-danger" href="#"><i
                            class="fa fa-times" data-case_id={{case.id}} data-case_name="{{case.name}}"
                            data-toggle="modal"
                            data-target="#deleteConfirmationModal"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    pass_arguments_to_modal();
    set_confirmation_modal_handlers();

    function delete_case(case_url) {
        $.ajax({
            type: "DELETE",
            url: case_url,
            success: function (msg) {
                console.log(msg["status"]);
                if (msg["status"] === "ok") {
                    window.location.reload()
                }
            }
        });
    }

    function pass_arguments_to_modal() {
        let ATTRIBUTES = ['case_name'];
        $('[data-toggle="modal"]').on('click', function (e) {
            // convert target (e.g. the button) to jquery object
            var $target = $(e.target);
            // modal targeted by the button
            var modalSelector = $target.data('target');

            // iterate over each possible data-* attribute
            ATTRIBUTES.forEach(function (attributeName) {
                // retrieve the dom element corresponding to current attribute
                var $modalAttribute = $(modalSelector + ' #modal-' + attributeName);
                var dataValue = $target.data(attributeName);
                $modalAttribute.text(dataValue || '');
            });
            window.removing_id = $target.data('case_id');
            console.log("Selected id: " + window.removing_id);
        });
    }

    function set_confirmation_modal_handlers() {
        $('#deleteConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'confirm-delete-button') {
                    delete_case('/cases?id=' + window.removing_id);
                }
            });
        });
    }
</script>
{% endblock %}

{% block modals_content %}
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Delete case <span id="modal-case_name"></span>?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancel-delete-button">Cancel
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete-button">Delete
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}